:root {
  --dark-color: #0d0d0d !important;
  --light-color: #f2f2f2 !important;
}

.bg-dark {
  background-color: #0d0d0d !important;
}
.bg-light {
  background-color: #f2f2f2 !important;
}

.btn-dark {
  background-color: #0d0d0d !important;
}

.btn-outline-dark:hover {
  background-color: #0d0d0d !important;
}

.text-lighter {
  color: #d4d4d4;
}

.ch-80 {
  min-height: 80dvh;
}

@font-face {
  font-family: "blauerNue-regular";
  src: url("../../public/fonts/BlauerNue-Regular.otf") format("opentype");
}

@font-face {
  font-family: "blauerNue-thin";
  src: url("../../public/fonts/BlauerNue-Thin.otf") format("opentype");
}

@font-face {
  font-family: "blauerNue-bold";
  src: url("../../public/fonts/BlauerNue-Bold.otf") format("opentype");
}

@font-face {
  font-family: "blauerNue-light";
  src: url("../../public/fonts/BlauerNue-Light.otf") format("opentype");
}

* {
  font-family: "blauerNue-thin";
  /* font-size: 97%; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "blauerNue-regular";
}

.font-regular {
  font-family: "blauerNue-regular";
}

.font-thin {
  font-family: "blauerNue-thin";
}

.font-light {
  font-family: "blauerNue-light";
}
.line-height {
  line-height: 2em;
}

.fs-6sm {
  font-size: 0.9em;
}

.bgHero {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../public/hero.png");
  height: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 150%;
  position: relative;
}
.f-bold {
  font-family: "blauerNue-bold";
}
.bg-light-before {
  position: relative;
}
.bg-light-before::before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  border-radius: 2em 0 0 0;
  height: 100%;
  z-index: 1;
}

.customRounded-3 {
  border-radius: 2em;
}
.customRounded-2 {
  border-radius: 1.1em;
}

.customRounded-1 {
  border-radius: 0.8em;
}

.bgBottom {
  background: linear-gradient(to bottom, #5c5c5c 0%, /* Dark Gray Top */ #5c5c5c 20%, /* 20% height dark gray */ white 20%, /* White starts */ white 100%);
}

.custom-footer {
  background-color: #0d0d0d;
  border-top: 1px solid #444;
  font-size: 0.875rem;
}

.custom-footer .btn {
  font-size: 0.75rem;
  border-radius: 5px;
}

.custom-footer svg {
  font-size: 1rem;
  cursor: pointer;
}

.hoverImg:hover img {
  mix-blend-mode: difference;
}

.bgimgBtm {
  max-height: 80dvh;
  object-fit: cover;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid white;
}

.offcanvas-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.ChatBox {
  max-width: 521.83px;
  height: 634px;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}

.display-1form {
  font-size: 32px;
}

@media screen and (max-width: 1200px) {
  .brandImg {
    height: 30px;
  }
  .bBtn {
    scale: 0.7;
  }
  .nBtn {
    font-size: 0.7em;
  }
  .checkIcon {
    width: 22px;
  }
  .footIco {
    width: 22px;
  }
  .modlImg {
    height: 421px !important;
  }
}

/* @media screen and (min-width: 993px) and (max-width: 1100px) { */
@media screen and (max-width: 1200px) {
  .navText {
    font-size: 0.75em !important;
  }
  .fs-1 {
    font-size: 2rem !important;
  } /* from 2.5rem */
  .fs-2 {
    font-size: 1.75rem !important;
  } /* from 2rem */
  .fs-3 {
    font-size: 1.5rem !important;
  } /* from 1.75rem */
  .fs-4 {
    font-size: 1.25rem !important;
  } /* from 1.5rem */
  .fs-5 {
    font-size: 1rem !important;
  } /* from 1.25rem */
  .fs-6 {
    font-size: 0.875rem !important;
  } /* from 1rem */

  .display-1 {
    font-size: 3.5rem !important;
  } /* from 5rem */
  .display-2 {
    font-size: 3rem !important;
  } /* from 4.5rem */
  .display-3 {
    font-size: 2.5rem !important;
  } /* from 4rem */
  .display-4 {
    font-size: 2.25rem !important;
  } /* from 3.5rem */
  .display-5 {
    font-size: 2rem !important;
  } /* from 3rem */
  .display-6 {
    font-size: 1.75rem !important;
  } /* from 2.5rem */

  .display-3.csm {
    font-size: 3.5rem !important;
  }

  .lead {
    font-size: 1rem !important;
  } /* from 1.25rem */

  .brandImg {
    height: 30px;
  }
}

@media screen and (max-width: 1600px) {
  .bgHero {
    background-position: 47% -5%;
    background-repeat: no-repeat;
    background-size: 200%;
  }
}

@media screen and (max-width: 1300px) {
  .bgHero {
    background-position: 37% -1%;
    background-repeat: no-repeat;
    background-size: 210%;
  }
}

p {
  line-height: 37px;
}
